@use "../../styles/global" as *;

.description {
  @include flex-SB;
  margin-bottom: 24px;

  @include medium {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.informations {
  &__titre {
    @include fs36;
    color: $primary-color;

    @include small {
      margin-bottom: 5px;
      @include fs18;
    }
  }
  &__adresse {
    @include fs18;

    @include small {
      font-size: 0.875rem;
    }
  }
}

.rating-host {
  display: flex;
  flex-direction: column-reverse;

  @include medium {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.ratings {
  display: flex;
  @include just-align-center;
}

.host {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 10px;
  margin-bottom: 21px;

  @include medium {
    width: auto;
    margin-bottom: 0;
  }

  &__name {
    color: $primary-color;
    @include fs18;
    @include fw500;
    text-align: right;

    @include small {
      font-size: 0.75rem;
    }
  }

  &__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    @include small {
      width: 32px;
      height: 32px;
    }
  }
}

.dropdown-container {
  @include flex-SB;
  gap: 76px;

  @include medium {
    flex-direction: column;
    gap: 20px;
  }
}

.dropdown-description,
.dropdown-equipements {
  flex: 1;
  max-width: 50%;

  @include medium {
    max-width: 100%;
  }
}
