@use "../../styles/global" as *;

.card {
  position: relative;
  display: flex;
  width: 340px;
  height: 340px;
  @include border10;

  &__image {
    @include w100;
    object-fit: cover;
    @include border10;
  }

  &__title {
    position: absolute;
    bottom: 0;
    padding: 20px;
    @include fs18;
    @include fw700;

    @include medium {
      font-size: 1.5rem;
    }

    @include small {
      font-size: 1rem;
    }
  }
}

@include medium {
  .card {
    width: 100%;
    height: auto;
  }
}
