@use "../../styles/global" as *;

.header {
  @include flex-SB;
  align-items: center;
  margin: 45px auto 0;
  max-width: 1300px;
  padding: 0 2rem;

  @include medium {
    margin: 20px 20px 0;
    padding: 0;
  }

  & img {
    @include medium {
      width: 145px;
    }
  }
}
