@use "../../styles/global" as *;

.banner-container {
  @include w100;
  height: 223px;
  display: flex;
  @include just-align-center;
  background-size: cover;
  background-position: center;
  @include border10;
  position: relative;

  &::before {
    content: "";
    @include border10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: brightness(50%);
    z-index: 0;
  }

  &__text {
    color: $white;
    height: 3rem;
    @include fw700;
    position: relative;
    z-index: 1;
  }
}
